body { background-color: #b4ebf0;
                width: 800px;
  
                margin-right:auto;
                margin-left:auto;
            }

#nav-table { width 800px;}

#nav-td {width: 200px; text-align:center;}

p { text-align: center;}

div.ex1 {
  width: 700px;
  margin: auto;}

h { text-align: center;}
